body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    padding-top: 14px;
    height: 50px;
}

.page-footer .row {
    margin-bottom: 14px;
}

.page-footer ul {
    margin: auto;
    width: 125px;
}

span.badge {
    margin-left: 0;
}

.brand-logo.left {
    left: 15px!important;
}

#choice-buttons .card-action {
    padding: 0;
}

#choice-buttons .collection {
    margin-top: 0;
}

.card .card-image {
    position: static;
}

.card-image {
    overflow: hidden;
    height: 100%;
}

.card .card-image .card-title {
    font-size: 18px;
    bottom: -20px;
    left: -14px;
}

.card-title {
    font-size: 24px;
    font-weight: 300;
}

.tabs {
    height: 30px;
}

.tabs .tab {
    line-height: 30px;
    height: 30px;
    width: 50%;
}

.row {
    margin-bottom: 0;
}

.navbar-fixed {
    height: 86px;
}

.input-field {
    margin-bottom: 0;
}

#send-chat {
    width: 100%;
}

#chats {
    height: calc(100vh - 250px);
    overflow: auto;
}

.chat-message {
    padding: 2px 5px;
    display: inline-block;
    border-radius: 5px;
    max-width: 66%;
    clear: both;
    margin-bottom: 0;
}

.player1-chat {
    background-color: #00bcd4;
    float: right;
}

.player2-chat {
    background-color: #eeeeee;
    float: left;
}

.remaining-height {
    height: calc(100vh - 136px);
}

.remaining-height .row {
    height: 100%;
}

#game-container,
#choice-buttons,
#waiting-message {
    height: 100%;
}

.card {
    height: 28%;
}

@media (min-width: 600px) {
    .navbar-fixed {
        height: 64px;
    }
    #chat-container {
        border-left: 1px solid #eeeeee;
        height: 100%;
    }
    #game-container {
        padding-top: 25px;
    }
    .remaining-height {
        height: calc(100vh - 114px);
    }
    #chats {
        height: calc(100vh - 230px);
    }
}